
.menu-container h2{
  margin-top: 60px;
  margin-left: 250px;
  margin-bottom: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  border-bottom: 4px solid #fc6400;
  
}

.menu-container{
  margin-top: 200px;
}
.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  width: 86%;
  margin-left: 7%;
}

.menu-item {
  width: calc(25% - 15px); 
  margin-bottom: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  width: 300px;
  height: 180px;
}

.menu-item h3 {
  margin: 10px 0;
}




